 @media screen and (prefers-reduced-motion: reduce){
 
  @keyframes logoz{
    from  {width: 425px;}
    to  {width: 425px;}
  }

  #logo{
    animation-name: logoz;
    animation-duration: 0s;
  }
 }

  @media print{
    body{
    background-image: none; 
    }
    .nav_links{
      justify-content: space-around;
    }
    .pricing{
      display: flex;
      justify-content: flex-end;
    }
    .card{
      border-width: 2px;
      border-color: #45ADDD;
      border-style: solid;
      flex-basis: 250px;
    }
    #gallery{
      display: none;
    }
    .gallery{
      display: none;
    }
  }
   
