 @media screen and (prefers-reduced-motion: reduce){
    *, ::before, ::after {
    animation-delay: -1s !important;
    animation-duration: 1s !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    }

  }

  @media print{
    body{
    background-image: none; 
    }
    .nav_links{
      justify-content: space-around;
    }
    .pricing{
      display: flex;
      justify-content: flex-end;
    }
    .card{
      border-width: 2px;
      border-color: #45ADDD;
      border-style: solid;
      flex-basis: 250px;
    }
    #gallery{
      display: none;
    }
    .gallery{
      display: none;
    }
  }
   